.helloInput {
  width: 200px;
}

.title{
  color: white;
}
.mainText{
  color:#515a66;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  /* background-color: #839ac3; */
  background-color: #ffffff;

}

.social-size{
  width: 15%;
  height: 15%;
}

.page-footer{
  background-color: #3a7fce;
}
main {
  flex: 1 0 auto;
}

.anomaly-detector-container {
  height: calc(100vh - 53px);
}

.anomaly-detector-row {
  margin-top: 10%;
}

.btn-modified {
  background-color: #3a7fce
}